* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #CCC;
}

.container {
    margin: auto;
    max-width: 900px;
}

.apply_box {
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
}

.form_container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.form_control {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-size: 15px;
}

input,
select,
textarea {
    padding: 6px 10px;
    border: 1px solid grey;
    border-radius: 5px;
}

input:focus {
    outline-color: red;
}

.button_container {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

button {
    background-color: red;
    padding: 5px 10px;
    border: transparent solid 2px;
    color: white;
    border-radius: 8px;
    transition: 0.3s ease-in;
}

button:hover {
    cursor: pointer;
    background-color: grey;
    color: black;
    border: 2px solid black;
    transition: 0.3s ease-out;
}

.textarea_control {
    grid-column: 1 / span 2;
}

.textarea_control textarea {
    width: 100%;
}

@media(max-width:460px) {
    .textarea_control {
        grid-column: 1 / span 2;
    }
}